<div class="pt-30vh">
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group mb-0">
            <div class="card p-4">
              <div class="card-body">
                <h1>Login With Facebook</h1>
                <p class="text-muted">Sign In to your account by</p>

                <!-- <div class="row">
                  <div class="form-control p-0 mb-2 tab-set">
                    <div class="card-header">
                      <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item" (click)="phone=true">
                          <span class="nav-link" [ngClass]="phone?'active':''">Phone Number</span>
                        </li>
                        <li class="nav-item" (click)="phone=false">
                          <span class="nav-link" [ngClass]="!phone?'active':''">Email</span>
                        </li>
                      </ul>
                    </div>
                    <div class="tab-content">
                      <div class="tab-pane card-body fade " [ngClass]="phone?'show active':''">
                        <span class="input-group-addon">
                          <i class="icon-user"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Username">
                      </div>
                      <div class="tab-pane card-body fade" [ngClass]="!phone?'show active':''">
                        <span class="input-group-addon">
                          <i class="icon-lock"></i>
                        </span>
                        <input type="password" class="form-control" placeholder="Password">
                      </div>
                    </div>
                  </div>
                </div> -->

                <!-- <div class="input-group mb-3">
                  <span class="input-group-addon">
                    <i class="icon-user"></i>
                  </span>
                  <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-addon">
                    <i class="icon-lock"></i>
                  </span>
                  <input type="password" class="form-control" placeholder="Password">
                </div> -->
                <div class="row">
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-default px-4" (click)="loginWith('PHONE')">
                      <!-- Phone Number -->
                      <img class="app-icon" src="../../assets/img/sms.png">
                    </button>
                  </div>
                  <div class="col-6">
                    <!-- <button type="button" class="btn btn-link px-0">Forgot password?</button> -->
                    <button type="button" class="btn btn-default px-4" (click)="loginWith('EMAIL')">
                      <!-- Email Address -->
                      <img class="app-icon" src="../../assets/img/email.png">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>